body {
    background-color: #0D1117;
    color: rgb(255, 255, 255);
    font-family: 'Glass Antiqua', cursive; 
    text-align: center; 
    justify-content: center;
    height: 100vh; 
    margin: 280px 0; 
}

p {
    font-size: 150px; 
    margin-top: 50px; 
}