body {
    background-color: #1F2327;
    color: #dfdfdf;
    font-family: 'Karla', sans-serif;
    margin: 0;
}

.container {
    position: relative;
}

.round-image {
    width: 110px; /* Регулируйте размер изображения по вашему выбору */
    height: 110px;
    border-radius: 50%; /* Делает изображение круглым */
    position: absolute;
    top: 20px; /* Регулируйте вертикальное расположение изображения */
    left: 611px; /* Регулируйте горизонтальное расположение изображения */
    border: 2px solid #000000; /* Опционально: добавляет белую обводку для отделения от фона */
}

.custom-text {
    font-size: 40px; /* Регулируйте размер текста по вашему выбору */
    color: #dfdfdf; /* Регулируйте цвет текста по вашему выбору */
    position: absolute;
    top: 10px; /* Регулируйте вертикальное расположение текста */
    left: 763px; /* Регулируйте горизонтальное расположение текста */
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
  
.custom-button {
    padding: 20px 90px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #161B22;
    color: #fff;
    border: 1px solid #161B22;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease; /* Добавленная анимация */
    margin-right: 10px; /* Отступ между кнопками (регулируйте по вашему усмотрению) */
}

/* При наведении меняем стиль кнопки */
.custom-button:hover {
    background-color: #2e333d;
    border-color: #2e333d;
    transform: scale(1.05); /* Немного увеличиваем размер кнопки при наведении */
}

#button1 {
    margin-right: 10px; /* Отступ между кнопками 1 и 2 */
    position: absolute;
    top: 233px;
    left: 648px; 
}

#button2 {
    margin-right: 10px; /* Отступ между кнопками 1 и 2 */
    position: absolute;
    top: 260px;
    left: 648px; 
}

#button3 {
    margin-right: 10px; /* Отступ между кнопками 1 и 2 */
    position: absolute;
    top: 240px;
    left: 648px; 
}